body {
	background: linear-gradient(rgba(0,0,0,.3),rgba(255, 255, 255, 0.4)), url(Images/signin_background.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
}

.form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}

.form h1 {
	margin: 30px 100px;
	padding: 0;
	text-align: center;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}

.input-form {
	margin: 15px 40px;
	text-align: center;
    
}

.input-form input {
	padding: 10px;
	width: 100%;
	color: #fff;
	font-size: 20px;
	background: none;
	outline: none;
	border: 1px solid #fff;
	box-sizing: border-box;
    border-radius: 10px;
}

.input-form input[type="text"]:focus, 
.input-form input[type="password"]:focus {
	border: 1px solid #5d87aa;
}

.input-form input[type="submit"] {
	margin-top: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	background: #5d87aa;
	transition: .3s;
}

.input-form input[type="submit"]:hover {
	background: #de5d84;
}

.signup {
	display: block;
	padding: 0 0 35px;
	text-align: center;
	color: #8f9aa5;
	text-decoration: none;
	transition: .3s;
}
.forget {
	display: block;
	padding: 0 0 10px;
	text-align: center;
	color: #8f9aa5;
	text-decoration: none;
	transition: .3s;
}
.form a:hover {
	color: #de5d84;
}